
<form  action="ProductList" method="get" >
 		Name of Product: <input type = "text" name = "pname" require="" > <br><br>
        Product brand: 	 <input type="text" name="brand" require="" >  <br><br>
        Price:			 <input  type = "text" name = "price" require="">  <br><br>
        Description:	 <input type="text" name = "desc" require="">	<br><br>
                		 <input type="submit" value="Add">
      </form>