<h1>Example</h1>
	<table  >
		<tr><th>Name</th>
		<th>Brand</th>
		<th>Price</th>
		<th>Discription</th></tr>
		
		 {{#data}}
			<tr>
			<td>{{ProductName}}</td>
			<td>{{Brand}}</td>
			<td>{{Price}}</td>
			<td>{{Discription}}</td><tr>
		{{/data}}
	</table>